[Desktop Entry]
Encoding=UTF-8
Name=antiX Snapshot
Comment= Create a live CD snapshot of your system.
Exec=gksu antixsnapshot-gui
Terminal=false
Type=Application
Icon=remastersys.png
Categories=GNOME;GTK;System;
